.site-link,
.footer-credit
  font-size: 18px

  +desktop
    font-size: 28px

.site-links
  margin-bottom: 30px

  +desktop
    margin-bottom: 42px

.site-link
  +antialiased
  +sans-semi
  color: white
  margin: 0 8px
  text-decoration: none

  +desktop
    margin: 0 20px

  &:hover,
  &:focus
    color: $brand-color-lt
    text-decoration: underline

.footer-credit,
.footer-credit a
  color: $brand-color-lt

.footer-credit a:hover,
.footer-credit a:focus
  color: white
