.footer
  margin: 0 auto
  +vertical-spacing(padding, 1, 2)
  width: span(12)

  +tablet
    width: span(10)

  +desktop
    width: span(10)

.site-link,
.footer-credit
  font-size: 18px

  +desktop
    font-size: 18px

.site-links
  margin-bottom: 20px

.site-link
  +antialiased
  +sans-semi
  color: $brand-color
  text-decoration: none
  text-transform: uppercase

  &:hover,
  &:focus
    text-decoration: underline

.footer-credit,
.footer-credit a
  color: $brand-color

.footer-credit a:hover,
.footer-credit a:focus
  color: $brand-color
  text-decoration: underline
