.brand
  text-align: left

.home-top
  margin: 0 auto
  +vertical-spacing(padding, 1, 0)
  width: span(12)

  +tablet
    width: span(10)

  +desktop
    width: span(10)

.brand-name
  margin-bottom: 32px

  +desktop
    font-size: 40px
    margin-bottom: 40px

.brand-name img
  width: 150px

  +tablet-up
    width: 265px

.brand-description
  +antialiased
  font-size: 24px
  margin-bottom: 32px

  +desktop
    font-size: 36px
    margin-bottom: 40px

.brand-actions .button
  +tablet-down
    margin: 0
    width: 100%
    max-width: 270px

  +tablet-up
    width: 220px

.brand-actions .button:first-child
  +tablet-down
    margin-bottom: 20px
  margin-right: 20px


// App screenshot
.home-screenshot
  +vertical-spacing(padding, 1, 0)
  margin: 0 auto
  width: span(12)

  +tablet
    width: span(10)

  +desktop
    width: span(10)

.home-screenshot img
  max-width: 100%
  position: relative
  left: -5%


.videowrapper
    float: none
    clear: both
    width: 100%
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0

.videowrapper iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

// Features list

.screenshot
  +tablet-down
    display: none

  +desktop
    +span(5)
    +push(1)
    display: block

.features
  list-style: none

  +tablet
    width: span(10)
    margin: 0 auto

  +desktop
    +span(5)

.feature
  border-bottom: 1px solid #E1E1E1
  margin-bottom: 24px
  padding-bottom: 24px

  +desktop
    margin-bottom: 36px
    padding-bottom: 36px

  &:last-child
    border: none
    padding-bottom: 0
    margin-bottom: 0

.feature-title,
.feature-desc
  font-size: 18px

  +desktop
    font-size: 26px

// Inspiration gallery
.inspiration
  text-align: center

.inspiration-title
  +sans-lt
  font-size: 24px
  margin-bottom: 36px

  +desktop
    font-size: 36px
    width: span(7)
    margin: 0 auto 48px

.inspiration-teaser
  background: url('/assets/media/inspiration-bg.png') center center repeat-x

  +tablet-down
    background-size: 580px 198px
    height: 198px
    padding-top: 60px

  +desktop
    height: 396px
    padding-top: 120px

