<footer class='footer row brand' role='contentinfo'>
  <div class='container'>
    <nav class='site-links'>
      <a class='site-link' href='{{ site.app_url }}'>
        Purchase
      </a>
      <a class='site-link' href='mailto:hello@seasalt.io?subject=Kipper%20Support'>
        Support
      </a>
      <a class='site-link' href='//twitter.com/{{ site.twitter_username }}'>
        Twitter
      </a>
    </nav>
    <div class='footer-credit'>
      {{ site.title }} is by
      <a href='//seasalt.io'>
        sea/salt
      </a>
    </div>
  </div>
</footer>
<script src='/assets/js/main.js?1439832737'></script>
<!-- UA-66211405-1 -->
